<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <title>Eat-Da-Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>
<body>

    {{{ body }}}
    
</body>
</html>